body {
    background-color: #5a7;
    text-size-adjust: none;
    font-size: 2vmax;
}

.inner {
    padding: 1em;
    background-color: white;
    border: solid 2px black;
    font-size: 1em;
    line-height: 1.25;
}

.pages {
    border-bottom: 1px black solid;
}

.page {
    text-decoration: none;
    color: #5a7;
    padding-right: 2em;
    white-space: nowrap;
    font-size: 1.2em;
}

.slant {
    display: inline-block;
    transform: rotate(8deg);
}

.event {
    word-break: break-word;
    padding: 2px;
}

.event-name {
    font-weight: bold;
}

.event.odd {
    background-color: #9fb;
}

.content {
    margin-top: 1em;
}
