html {
    font-size: 1vw;
}

body {
    background-color: #5a7;
}

@media only screen and (max-device-width: 600px) {
    html {
	font-size: 4vw;
    }
}

.inner {
    padding: 1rem;
    background-color: white;
    border: solid 2px black;
}

.pages {
    border-bottom: 1px black solid;
}

.page {
    text-decoration: none;
    color: #5a7;
    padding-right: 2rem;
    font-size: 1rem;
    white-space: nowrap;
}

.slant {
    display: inline-block;
    transform: rotate(8deg);
}

.event {
    word-break: break-word;
    padding: 2px;
}

.event-name {
    font-weight: bold;
}

.event.odd {
    background-color: #9fb;
}
