body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

body {
    background-color: #5a7;
    padding: 1em 0 0 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 100%;
}

h1 {
    font-size: 2em;
    line-height: 1.25;
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
}

.inner {
    font-size: 1em;
    line-height: 1.25;
    margin: auto;
    padding: 1em;
    background-color: white;
    border: solid 2px black;
    max-width: 50em;
}

@media (min-width: 43.75em) {
    .inner {
	font-size: 1em;
	line-height: 1.375;
    }

    h1 {
	font-size: 2.5em;
	line-height: 1.125;
    }

    h2 {
	font-size: 2em;
	line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h1 {
	font-size: 3em;
	line-height: 1.05;
    }

    h2 {
	font-size: 2.25em;
	line-height: 1.25;
    }
}

.pages {
    border-bottom: 1px black solid;
}

.page {
    text-decoration: none;
    color: #5a7;
    padding-right: 2em;
    font-size: 2em;
}

.slant {
    display: inline-block;
    transform: rotate(8deg);
}

.event {
    border-top: 2px solid black;
    padding-bottom: 2em;
    padding-top: 2em;
    word-break: break-word;
}

.event-name {
    font-weight: bold;
}

