<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Offbeat Fun</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="banner">
      <h1 class="title"><span class="slant">Off</span>beat Fun</h1>
      <div class="page-links">
      	<a class="page-link" href="/">Home</a>
      	<a class="page-link" href="/events">Events</a>
      	<a class="page-link" href="/about">About</a>
      	<a class="page-link" href="/contact">Contact Us</a>
      </div>
    </div>
    <div class="page">
      {% block pagebanner %}{% endblock %}
      <div class="content">
	{% block content %}{% endblock %}
      </div>
    </div>
    {% block script %}{% endblock %}
  </body>
</html>

