<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Offbeat Fun</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="inner">
      <h1><span class="slant">Off</span>beat Fun</h1>
      <div class="pages">
	<a class="page" href="/">Home</a>
	<a class="page" href="/events">Events</a>
	<a class="page" href="/about">About</a>
	<a class="page" href="/contact">Contact Us</a>
      </div>
      <div class="content">
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
