{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<p>This is a group for people in their 20s & early 30s looking to bond
  with cool new friends over quirky, fun activities. We're less about
  the happy hours and meeting over drinks (though they're bound to
  happen informally) and more about the strange, fun things you've
  always wanted to try doing (Quidditch, anyone?).</p>
<p>Activities can range from the casual (hikes, game nights, karaoke
  nights, etc.) to the more offbeat (puzzle hunts, obstacle courses,
  murder mysteries, etc.). If this sounds right up your alley, come
  join us for some random fun!</p>
{% endblock %}
